:root{
    --img-width: 10vw;
    --img-height: 80vh;
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    height: 100vh;
}

img{
    width: var(--img-width);
    height: var(--img-height);
    object-fit: cover;
    border-radius: 10px;
    border: .5px solid #1c1a22;

    box-shadow: 0 0 black 5px 5px;
}
img:hover{
    width: 20%;
}

