.anim-text {
  /* background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  /* background: #a2beed;
  background: linear-gradient(
    to right,
    #a2beed 0%,
    #79dcff 25%,
    #21b4e2 75%,
    #b7deed 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  background: #00ff00;
  background: linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;

  user-select: none;
}


