:root{
    --img-width: 10vw;
    --img-height: 80vh;
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    height: 100vh;
}

img{
    width: var(--img-width);
    height: var(--img-height);
    object-fit: cover;
    border-radius: 10px;
}
img:hover{
    width: 20%;
}

.uploaded-image{
    transition: width ease-out 0.75s;
}
